@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Roboto';
}

body{
    font-size: 1.6rem;
    width: 100vw;
    height: 100vh;
    background: $gray;
}

main{
    width: 100%;
    margin: 0 auto;
    min-height: 80vh;
    object-fit: contain;
}

.container{
    width: 180rem;
    margin: 0 auto;
}

h1, h2, h3{
    margin: 0;
}

@media only screen and (max-width: 1599px) {
    html{
        font-size: 9px;
    }
}

@media only screen and (max-width: 1366px) {
    html{
        font-size: 8px;
    }
}

@mixin responsive {
    @media only screen and (max-width: 1200px) {
        @content;
    }
}


